@import "normalize.css";

body {
  margin: 0px;
  background: grey;
}

.game {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  background: url(./board-pic.png);
  display: block;
  width: 150px;
  height: 150px;
  font-size: 60px;
  color: white;
  font-family: "Chalkboard";
  border: 0;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.winning-square {
  color: black;
}

@font-face {
  font-family: "Chalkboard";
  src: url("./chalkboard.ttf") format("truetype");
}

.square:nth-of-type(3) {
  border-right: 0;
}

.board-row:nth-of-type(4) .square {
  border-bottom: 0;
}

.button-try-again-container {
  display: flex;
  justify-content: end;
  max-width: 450px;
}

.button-try-again {
  background: transparent;
  padding: 3px 14px;
  font-size: 35px;
  color: white;
  font-family: "Chalk_board";
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@font-face {
  font-family: "Chalk_board";
  src: url("./Chalk\ Board.ttf") format("truetype");
}

.status {
  font-size: 60px;
  color: white;
  font-family: "Chalk_board";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}

.title {
  margin-bottom: 0px;
  margin-top: 0px;
}

.image-medal {
  width: 150px;
  height: 150px;
}

.image-handshake {
  height: 90%;
  background: transparent;
  padding-left: 20px;
}

.image-arrow {
  width: 100px;
  height: 70px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.game-info {
  font-family: "Chalk_board";
  font-size: 20px;
  padding-left: 30px;
}

.moves-list li {
  font-size: 20px;
  font-family: "Chalk_board";
  color: black;
  font-weight: 500;
}

.game-info button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

@media (max-width: 475px) {
  .game {
    display: block;
  }

  .square {
    width: 100px;
    height: 100px;
    font-size: 40px;
    padding: 0;
  }

  .button-try-again-container {
    max-width: 300px;
    margin: 0 auto;
  }

  .button-try-again {
    margin-bottom: 0;
    font-size: 25px;
  }

  .game-info {
    font-family: "Chalk_board";
    font-size: 20px;
    padding-left: 30px;
    font-weight: 500;
  }

  .game-info button {
    padding-left: 6px;
  }

  .moves-list {
    margin-left: 0;
  }

  .moves-list li {
    margin-bottom: 5px;
    font-size: 25px;
  }

  .status {
    font-size: 50px;
  }

  .image-arrow {
    width: 90px;
    height: 63px;
  }

  .title {
    font-size: 80px;
  }
}
