body {
  margin: 0px;
}

.game {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  background: url(./board-pic.png);
  display: block;
  width: 150px;
  height: 150px;
  font-size: 60px;
  color: white;
  font-family: "Chalkboard";
  border: 0;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.winning-square {
  color: black;
}

@font-face {
  font-family: "Chalkboard";
  src: url("./chalkboard.ttf") format("truetype");
}

.square:nth-of-type(3) {
  border-right: 0;
}

.board-row:nth-of-type(4) .square {
  border-bottom: 0;
}

.button-try-again {
  background: transparent;
  width: 130px;
  height: 55px;
  font-size: 35px;
  color: white;
  font-family: "Chalk_board";
  border: 3px solid white;
  border-radius: 5px;
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@font-face {
  font-family: "Chalk_board";
  src: url("./Chalk\ Board.ttf") format("truetype");
}

.status {
  font-size: 60px;
  color: white;
  font-family: "Chalk_board";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}

.title {
  margin-bottom: 0px;
  margin-top: 0px;
}

.image-medal {
  width: 150px;
  height: 150px;
}

.image-handshake {
  height: 90%;
  background: transparent;
  padding-left: 20px;
}

.image-arrow {
  width: 100px;
  height: 70px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.game-info {
  font-family: "Chalk_board";
  font-size: 20px;
  padding-left: 30px;
}

.game-info button {
  background: transparent;
  font-family: "Chalk_board";
  font-size: 20px;
  border: 0;
}
